body {
    background-color: #131415;
    color: #eaeaea;
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 5%;
}

main {
    margin-left: 6%;
    margin-right: -5%;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-top: 12%;
    line-height: 1.9;
}

main p {
    margin-top: 8%;
    margin-bottom: 8%;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}

.nav li {
    display: inline-block;
}

h1 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

h1 span {
    color: #ffe77a;
    font-family: 'Inria Serif', serif;
}

#dark-mode {
    background-color: #131415;
    border: none;
}

#dark-mode:hover {
    background-color: #222;
    border-radius: 8px;
    padding-left: 32%;
    padding-right: 20%;
}

.fa-sun {
    font-size: 22px;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: -10%;
    color: #eaeaea;
}

h3 {
    margin-top: 3%;
    margin-bottom: 3%;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #444;
}

pre {
    background-color: #1a1a1a;
    white-space: pre-line;
    padding-left: 1em;
}

code {
    font-size: 15px;
    color: #ffe77a;
}

main a {
    color: #eaeaea;
}

main a:hover {
    color: #444;
}

button:focus {
    display: none;
}

blockquote {
    border-left: 3px solid #444;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
}

footer {
    margin-top: 10%;
    margin-right: -6%;
    margin-left: 5%;
}

footer a {
    text-decoration: none;
    color: #888888;
    font-size: 18px;
}

footer a:hover {
    color: #eaeaea;
}

footer div {
    margin-top: 5%;
    margin-bottom: 5%;
}

.f-footer, .s-footer {
    text-align: right;
}

.lower-footer {
    text-align: center;
}

.f-footer i {
    margin-left: 2%;
}

.upper-footer i {
    margin-right: 2%;
}

.upper-footer a {
    margin-right: 3%;
}

.dark-mode {
    background-color: #131415;
    color: #eaeaea;  
}
  
.light-mode {
    color: #131415;
    background-color: white;
}

.light-mode pre {
    background-color: #fafafa;
}

.light-mode code {
    color: #0493D3;
}

.light-mode h1 span {
    color: #0493D3;
}

.light-mode #dark-mode {
    background-color: white;
    border: none;
}

.light-mode .fa-sun {
    color: black;
}



